<mat-card>
  <h2>登入</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        (blur)="updateErrorMessage()"
        required
      />
      <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
        {{ errorMessage() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>密碼</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
        type="button"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      登入
    </button>
  </form>
</mat-card>
