<div class="flex gap-x-2 items-center">
  <button matIconButton (click)="onBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2>新增文章</h2>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" [style.pointer-events]="(isSubmitting || isGettingArticle) ? 'none' : 'auto'" [style.opacity]="(isSubmitting || isGettingArticle) ? 0.5 : 1">
  <mat-form-field appearance="outline">
    <mat-label>標題</mat-label>
    <input matInput formControlName="title" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>內容</mat-label>
    <textarea matInput formControlName="content" rows="5"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>標籤 (用逗號分隔)</mat-label>
    <input
      matInput
      formControlName="tags"
      (change)="form.get('tags')?.setValue($event.target.value.split(','))"
    />
  </mat-form-field>

  <mat-radio-group formControlName="status">
    <mat-radio-button value="draft">草稿</mat-radio-button>
    <mat-radio-button value="published">發佈</mat-radio-button>
    <mat-radio-button value="unpublished">不發佈</mat-radio-button>
  </mat-radio-group>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isSubmitting || isGettingArticle">
    <span *ngIf="!isSubmitting">{{ isEdit ? '更新文章' : '建立文章' }}</span>
    <span *ngIf="isSubmitting" class="flex items-center gap-x-2">
      <mat-progress-spinner diameter="18" mode="indeterminate"></mat-progress-spinner>
      處理中...
    </span>
  </button>
   <div *ngIf="isGettingArticle" class="loading-overlay">
    <mat-progress-spinner mode="indeterminate" diameter="48"></mat-progress-spinner>
    <div class="mt-3 text-sm text-gray-600">載入中…</div>
  </div>
</form>
